DocumentRoot "/var/www/source/oxideshop/source"
<Directory "/var/www/source/oxideshop/source">
    Options Indexes FollowSymLinks
    AllowOverride All
    Require all granted
</Directory>

<VirtualHost _default_:443>
    DocumentRoot "/var/www/source/oxideshop/source"
    ServerName localhost.local
    ServerAlias oxideshop.local

    SSLEngine on
    <Directory "/var/www/source/oxideshop/source">
        AllowOverride All
        Require all granted
    </Directory>

    SSLCertificateFile "/usr/local/apache2/conf/server.crt"
    SSLCertificateKeyFile "/usr/local/apache2/conf/server.key"
</VirtualHost>